@charset "UTF-8";
/*
reast
***********************************/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: .938rem;
}

h1, h2, .h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  color: inherit;
}

body {
  line-height: 1.5;
  background: #fff;
  font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}

html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
    -webkit-transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
    -webkit-transform: translate3d(100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
  }
}

.fadeInRight {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fullPage {
  background: url("../images/section-bg.webp") no-repeat center/cover;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-attachment: scroll;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .fullPage {
    background: url("../images/section-bg-mob.png") no-repeat center/cover;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  margin-top: 6rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 96%;
    margin-top: 3rem;
  }
}

.contentLeft {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

@media (max-width: 568px) {
  .contentLeft {
    width: 100%;
  }
}

.contentLeft .info-box {
  text-align: center;
}

.contentLeft .info-box .logo {
  width: 50%;
}

.contentLeft .info-box .title {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 20px #ff315e;
}

@media (max-width: 568px) {
  .contentLeft .info-box .title {
    font-size: 7.46667vw;
  }
}

.contentLeft .info-box .title, .contentLeft .info-box .text {
  line-height: 140%;
}

.contentLeft .info-box .text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0px 0px 8px #ff315e;
  margin: 1rem;
}

@media (max-width: 568px) {
  .contentLeft .info-box .text {
    font-size: 3.2vw;
  }
}

.contentRight {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

@media (max-width: 568px) {
  .contentRight {
    width: 100%;
  }
}

.contentRight .img-box {
  position: relative;
}

.contentRight .img-box .app-demo {
  z-index: 9;
}

.download-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
  margin: 1rem;
}

@media (max-width: 568px) {
  .download-box {
    margin: 1rem 1rem 2rem 1rem;
  }
}

.download-box .btn {
  margin: 8px;
  background: url("../images/button.png") no-repeat center/cover;
}

.download-box .btn + .btn {
  margin-left: 2rem;
}

@media (max-width: 568px) {
  .download-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .download-box .btn + .btn {
    margin: 0;
    margin-top: 2.66667vw;
  }
}

.download-box .app-box {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download-box .app-box .qrcode {
  width: 12rem;
  height: 12rem;
}

@media (max-width: 568px) {
  .download-box .app-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.icon-ios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: .5rem;
}

.icon-ios::after {
  content: " ";
  background-image: url("../images/icon-apple.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  width: 32px;
  height: 32px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.icon-android {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: .5rem;
}

.icon-android::after {
  content: " ";
  background-image: url("../images/icon-android.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  width: 32px;
  height: 32px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn-ios, .btn-android {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  padding: 12px 16px;
  border-radius: 36px;
  font-size: 1.125rem;
  color: #fff;
  border: 2px solid #B2DAFF;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=theme.css.map */